
### BACK-END ###

studentsystem/HELP.md
studentsystem/target/
studentsystem/!.mvn/wrapper/maven-wrapper.jar
studentsystem/!**/src/main/**/target/
studentsystem/!**/src/test/**/target/
studentsystem/.apt_generated
studentsystem/.classpath
studentsystem/.factorypath
studentsystem/.project
studentsystem/.settings
studentsystem/.springBeans
studentsystem/.sts4-cache
.idea
studentsystem/*.iws
studentsystem/*.iml
studentsystem/*.ipr
studentsystem/nbproject/private/
studentsystem/nbbuild/
studentsystem/dist/
studentsystem/nbdist/
studentsystem/.nb-gradle/
studentsystem/build/
studentsystem/!**/src/main/**/build/
studentsystem/!**/src/test/**/build/
studentsystem/.vscode/



### FRONT-END ###

studentfrontend/node_modules
studentfrontend/.pnp
studentfrontend/.pnp.js
studentfrontend/coverage
studentfrontend/build
studentfrontend/.DS_Store
studentfrontend/.env.local
studentfrontend/.env.development.local
studentfrontend/.env.test.local
studentfrontend/.env.production.local
studentfrontend/npm-debug.log*
studentfrontend/yarn-debug.log*
studentfrontend/yarn-error.log*
